<a href="https://colab.research.google.com/github/VU21CSEN0101426/python-/blob/module-2/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a function which accepts two inputs from the user and compute nCr

In [ ]:
def nCr(a,b):
  return(fact(a)/(fact(b)*fact(a-b)))
a=int(input(""))
b=int(input(""))
def fact(a):
  res=1
  for i in range(2,a+1):
    res=res*1
  return res
print(int(nCr(a,b)))

4
5
1

Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
color=["Red","Green","White","Black","Pink","Yellow"]
color.remove("Red")
color.remove("Pink")
color.remove("Yellow")
print(color)

['Green', 'White', 'Black']

Program to get the difference between the two lists

In [ ]:
list1=[10,20,30,40,50]
list2=[1,2,3,4]
a=set(list1)
b=set(list2)
print(a)
print(b)
c=a.difference(b)
print(c)
x=list(a)
y=list(b)
print(x)
print(y)

{40, 10, 50, 20, 30}
{1, 2, 3, 4}
{40, 10, 50, 20, 30}
[40, 10, 50, 20, 30]
[1, 2, 3, 4]

Program to remove a key from a dictionary

In [ ]:
food={"dish":"chicken","flavour":"spicy","pieces":"6"}
print(food)
if 'dish' in food:
    del food["pieces"]
print(food)

{'dish': 'chicken', 'flavour': 'spicy', 'pieces': '6'}
{'dish': 'chicken', 'flavour': 'spicy'}

Python function that accepts a string and calculates the number of uppercase
letters and lowercase letters.

In [ ]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('I am a fan of BTS and BLACKPINK')

Original String :  I am a fan of BTS and BLACKPINK
No. of Upper case characters :  13
No. of Lower case Characters :  11

Program to get the maximum and minimum value in a dictionary

In [ ]:
food={"dish":"chicken","flavour":"spicy","pieces":"6"}
min_key = min(food, key=food.get)
max_key = max(food, key=food.get)
print(food.get(min_key))
print(food.get(max_key))

6
spicy

Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number.

In [ ]:
x = [10,20,30,40,50]
print("The list is")
print(x)
print("The resultant tuple is :")
result = [(val, pow(val, 2)) for val in x]
print(result)

The list is
[10, 20, 30, 40, 50]
The resultant tuple is :
[(10, 100), (20, 400), (30, 900), (40, 1600), (50, 2500)]

Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2 
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]

In [ ]:
test_list = [(4, 5), (4, ), (8,6,7), (1, ), (3, 4, 6, 7)]
new_list=[]
K=2
for x in test_list:
 if len(x)!=K:
    new_list.append(x)
print("The filtered list without containing any element of tupple length '2' is:",new_list)

The filtered list without containing any element of tupple length '2' is: [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations

In [ ]:
string=input("enter a string: ")
print(string.split())
print(string[4:19])

enter a string: Mathematics is the easiest subject in 2nd semester
['Mathematics', 'is', 'the', 'easiest', 'subject', 'in', '2nd', 'semester']
ematics is the

Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements

In [ ]:
str_1="I am studying in gitam university"
print(str_1.count('i'))
str_2="i am a part of NCC when i joined gitam"
print(str_2.count('a'))

5
4

Program for replacing one substring by another

In [ ]:
string='keerthi '
new_string=string.replace('ee','gg')
print(new_string)

kggrthi

Program to Acronym generator for any user input

In [ ]:
string1=input("enter some string:")
a=string1.split()
for i in a:
 print(i[0],end='')

enter some string:RANDOM MEMORY ACCESS
RMA

Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings

In [ ]:
def match_words(words):
  ctr = 0
  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr
print(match_words(['abc', 'xyz', 'aba', '1221']))

2

Program to find the second smallest number and second largest number in a list.

In [ ]:
list=[3,5,6,4,8,234,564,789,103,34,675,0,1.9,0.8]
list.sort()
print(list)
print("The second smallest number in the given list is: ",list[1])
print("The second largest number in the given list is:",list[len(list)-2])

[0, 0.8, 1.9, 3, 4, 5, 6, 8, 34, 103, 234, 564, 675, 789]
The second smallest number in the given list is:  0.8
The second largest number in the given list is: 675

Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).

In [ ]:
a=dict()
b=int(input("Enter a number: "))
for i in range(1,b+1):
  a.update({i:i**2})
print("The obtained dictionary is:",a)

Enter a number: 12
The obtained dictionary is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}