<a href="https://colab.research.google.com/github/VU21CSEN0101426/python-/blob/module-1/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Accept input from user and store it in variable and print the value.

In [ ]:
a = input("Enter your value: ")
print(a)

Enter your value: 234
234

Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output

In [ ]:
num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))

print("Enter which operation would you like to perform?")
ch = input("Enter any of these char for specific operation +,-,*,/: ")

result = 0
if ch == '+':
    result = num1 + num2
elif ch == '-':
    result = num1 - num2
elif ch == '*':
    result = num1 * num2
elif ch == '/':
    result = num1 / num2
else:
    print("Input character is not recognized!")

print(num1, ch , num2, ":", result)

Enter First Number: 23
Enter Second Number: 34
Enter which operation would you like to perform?
Enter any of these char for specific operation +,-,*,/: +
23 + 34 : 57

Building a mathematical calculator that can perform operations according to user input.
Use decision making statement.

In [ ]:
a=float(input("enter the number"))
b=float(input("enter the number"))
i=input("enter operation")
if i=="+":
  print(a+b)
elif i=="-":
  print(a-b)
elif i=="%":
  print(a*b)
elif i=="*":
  print(a*b)
else:
  print(a/b)

enter the number4
enter the number5
enter operation+
9.0

Accepting 5 different subject marks from user and displaying the grade of the student.

In [ ]:
sub1=int(input("Enter marks of the first subject: "))
sub2=int(input("Enter marks of the second subject: "))
sub3=int(input("Enter marks of the third subject: "))
sub4=int(input("Enter marks of the fourth subject: "))
sub5=int(input("Enter marks of the fifth subject: "))
a=(sub1+sub2+sub3+sub4+sub4)/5
if(a>=90):
    print("Grade: A")
elif(a>=80 and a<90):
    print("Grade: B")
elif(a>=70 and a<80):
    print("Grade: C")
elif(a>=60 and a5<70):
    print("Grade: D")
else:
    print("Grade: F")

Enter marks of the first subject: 56
Enter marks of the second subject: 55
Enter marks of the third subject: 54
Enter marks of the fourth subject: 3
Enter marks of the fifth subject: 53
Grade: F

Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.

In [ ]:
n=int(input("enter range"))
c=0
for i in range(1,n+1):
  if i%2==0:
    c+=1
    print(i)
print("even count is",c)
d=0
for i in range(1,n+1):
  if i%2!=0:
    d+=1
    print(1)
print("odd count is",d)

enter range5
2
4
even count is 2
1
1
1
odd count is 3

Compute the factorial of a given number

In [ ]:
n=int(input("enter a number"))
fac=1
for i in range(1,n+1):
   fac=fac*i
   print(fac)

enter a number6
1
2
6
24
120
720

Compute GCD of two given

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
k=a if a<b else b
while True:
  if a%k==0 and b%k==0:
    break
    k+=1
  print(k)

enter a number10
enter a number20

Generate Fibonacci series up to N numbers.

In [ ]:
n = int(input("Enter the nth value: "))
a = 0
b = 1
sum = 0
print("Fibonacci Series : ", end = " ")
while(sum <= n):
     print(sum, end = " ")
     a = b
     b = sum
     sum = a + b

Enter the nth value: 5
Fibonacci Series :  0 1 1 2 3 5

 palindrome

In [ ]:
number=int(input("Enter any number :"))
temp=number
reverse_num=0
while(number>0):
digits =number%10
reverse_num=reverse_num*10+digits
number=number//10
if(temp==reverse_num):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")
alindrome number!")  
else:  
    print("This value is not a palindrome number!")

IndentationError: ignored

strings

In [ ]:
for x in "apple":
 print(type(x))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

perfect

In [ ]:
num=int(input("Enter the number: "))  
sum_v=0  
for i in range(1,num):  
    if (num%i==0):  
        sum_v=sum_v+i  
if(sum_v==num):  
    print("The entered number is a perfect number")  
else:  
    print("The entered number is not a perfect number")

Enter the number: 4
The entered number is not a perfect number

Compute compound interest using loop for a certain principal and interest amount

In [ ]:
n=int(input("Enter the principle amount:"))

rate=int(input("Enter the rate:"))

years=int(input("Enter the number of years:"))

for i in range(years):

    n=n+((n*rate)/100)

print(n)

Enter the principle amount:432
Enter the rate:32
Enter the number of years:43
66094114.52953034